# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for debugging process
.vscode/

# Optional npm cache directory
.npm/

# Node modules and dependencies
node_modules/

# Build output
dist/
build/

# Sensitive environment variables
.env

# MongoDB data files (if using locally)
*.db
*.db-journal
dump/

# OS-specific files
.DS_Store
Thumbs.db
